body {
  background-image: url("../img/bgdesign.png");
  padding-top: 70px;
}

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.btn-min-width {
  min-width: 100px;
}

.padding-lg {
  padding: 20px;
}